label {
  font-size: 14px !important;
}
input::placeholder {
  font-size: 14px !important;
}
input {
  font-size: 14px !important;
}
@import url('https://fonts.googleapis.com/css?family=Raleway:400');

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

/* body {
  font-family: Raleway, sans-serif;
  text-align: center;
  margin: 0;
  padding: 1rem;
  background-color: rgba(10, 12, 18, 1);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

/* p {
  margin: 0;
} */

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: #0066ff57;
  --c2: #0066ff00;
}

.wrapper {
  min-width: min(40rem, 100%);
}

.box {
  /* font-size: 2vw; */
  border: 0.55rem solid;
  padding: 10px;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
  border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
  animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

@media screen and (max-width: 1130px) {
  .img__lg {
    width: 90%;
  }
}

@media screen and (min-width: 800px) {
  .img__sm {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .img__lg {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .img__lg {
    display: none;
  }
  .img__sm {
    width: 90%;
  }
  .box {
    font-size: 30px !important;
  }
  h6 {
    font-size: 16px !important;
  }
}

.img__lg,
.img__sm {
  animation: fade-in 2s ease-in;
}

.bottom__half {
  animation: fade-in 1.5s ease-in;
  animation-delay: 2s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
